/* File: /src/styles/BrowseJobs.css */
.browse-jobs-container {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.job-search-form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.job-search-input {
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  width: 700px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1rem;
}

.job-search-input::placeholder {
  color: #ddd;
}

.job-search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff758c, #c9658e);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.job-search-button:hover {
  transform: scale(1.05);
}

.jobs-list {
  display: flex;
  flex-direction: column;
  gap: 20px;  /* Ensure your environment supports this property */
  align-items: flex-start;  /* Left-align job postings */
}

.placeholder-text {
  font-size: 1.2rem;
  color: #ddd;
  text-align: center;
  margin: 20px auto;
}

.job-count-label {
  position: absolute;
  top: 237px;
  height: 32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 0.9em;
  color: #666;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: none;
}
